*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/drawable-hdpi/baseline_account_circle_black_24.png
app/src/main/res/drawable-hdpi/baseline_account_circle_black_18.png
.idea/gradle.xml
app/src/main/AndroidManifest.xml
app/src/main/res/drawable-hdpi/baseline_account_circle_black_20.png
app/src/main/res/drawable-hdpi/baseline_account_circle_black_36.png
app/src/main/res/drawable-hdpi/baseline_account_circle_black_48.png
app/src/main/res/drawable-mdpi/baseline_account_circle_black_18.png
app/src/main/res/drawable-mdpi/baseline_account_circle_black_20.png
app/src/main/res/drawable-mdpi/baseline_account_circle_black_24.png
app/src/main/res/drawable-mdpi/baseline_account_circle_black_36.png
app/src/main/res/drawable-mdpi/baseline_account_circle_black_48.png
app/src/main/res/drawable-xhdpi/baseline_account_circle_black_18.png
app/src/main/res/drawable-xhdpi/baseline_account_circle_black_20.png
app/src/main/res/drawable-xhdpi/baseline_account_circle_black_24.png
app/src/main/res/drawable-xhdpi/baseline_account_circle_black_36.png
app/src/main/res/drawable-xhdpi/baseline_account_circle_black_48.png
app/src/main/res/drawable-xxhdpi/baseline_account_circle_black_18.png
app/src/main/res/drawable-xxhdpi/baseline_account_circle_black_20.png
app/src/main/res/drawable-xxhdpi/baseline_account_circle_black_24.png
app/src/main/res/drawable-xxhdpi/baseline_account_circle_black_36.png
app/src/main/res/drawable-xxhdpi/baseline_account_circle_black_48.png
app/src/main/res/drawable-xxxhdpi/baseline_account_circle_black_18.png
app/src/main/res/drawable-xxxhdpi/baseline_account_circle_black_20.png
app/src/main/res/drawable-xxxhdpi/baseline_account_circle_black_24.png
app/src/main/res/drawable-xxxhdpi/baseline_account_circle_black_36.png
app/src/main/res/drawable-xxxhdpi/baseline_account_circle_black_48.png
app/src/main/res/drawable/baseline_account_circle_18.xml
app/src/main/res/drawable/baseline_account_circle_24.xml
.idea/gradle.xml
.idea/gradle.xml
app/src/main/AndroidManifest.xml
